<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Vaccancy List</h1>
		</div>
        <div class="col-6 text-end">
            <a asp-controller="Vaccancy" asp-action="Upsert" class="btn btn-success">
               <i class="bi bi-plus-circle"></i> &nbsp; Create New Vaccancy
			</a>
		</div>
	</div>
    <br /><br />

<table  id="tblData"  class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Designation</th>
            <th>Number of Position</th>
            <th>Start Date (yy/mm/dd)</th>
            <th>End Date (dd/mm/yy)</th>
             <th>Action</th>
        
		</tr>
	</thead>
</table>
</div>

@section Scripts{
    <script src="~/js/vaccancy.js"></script>
}

 