@model BulkyBook.Models.ViewModels.VaccancyVm

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
	<input asp-for="Vaccancy.Id" hidden />
	

	<div class="row">
		
			<div class="border p-3 mt-4 row">
		<div class="col-12 pb-2">
			<h1 class="text-dark">@(Model.Vaccancy.Id!=0?"Update": "Create")  Vaccancy</h1>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@


		<div class="mb-3 col-6">
			<label asp-for="Vaccancy.DesignationId"></label>
			<select asp-for="Vaccancy.DesignationId" asp-items="@Model.DesignationList" class="form-select">
				<option disabled selected>--Select Designation--</option>
			</select>
			<span asp-validation-for="Vaccancy.DesignationId" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Vaccancy.Nposition"></label>
			<input asp-for="Vaccancy.Nposition" class="form-control" />
			<span asp-validation-for="Vaccancy.Nposition" class="text-danger"></span>
		</div>

		<div class="mb-3 col-6">
			<label asp-for="Vaccancy.Startdate"></label>
			<input asp-for="Vaccancy.Startdate" class="form-control" />
			<span asp-validation-for="Vaccancy.Startdate" class="text-danger"></span>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="Vaccancy.Deadline"></label>
			<input asp-for="Vaccancy.Deadline" class="form-control" />
			<span asp-validation-for="Vaccancy.Deadline" class="text-danger"></span>
		</div>


	

	


	


		<div class="col-12">
			@if (Model.Vaccancy.Id != 0)
			{
				<button type="submit" class="btn btn-success" style="width:150px">Update</button>
			}
			else
			{
				<button type="submit"  class="btn btn-success" style="width:150px">Create</button>
			}
			<a asp-controller="Employee" asp-action="Index" class="btn btn-warning" style="width:153px">
				Back to List
			</a>
		</div>



	</div>
		

	</div>

	





</form>

@section Scripts{
	@{
	<partial name="_ValidationScriptsPartial" />
	}

}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        

        $("#Employee_DesignationId").change(function(){
            var designationid = $("#Employee_DesignationId").val();
            getempsalary(designationid);
        });

    });

   
    


    function getempsalary(designationid){
        $.ajax({
            async:true,
            type:'Get',
            dataType:'JSON',
            contentType:'application/json; charset=utf-8',
            data:{designationid:designationid},
            url:'/admin/employee/getempsalary',
            success:function(data){
                $("#txtsalary").val(parseInt(data));
            },
            error:function(){
                alert("There is some problem to get the employee salary");
            }
        });
    }


</script>